<div class="row">

	  <div class="small-12 large-2 columns sidebar"> 
	  	<div class="sidebar-index" style="background-color: white;">
		  	<div class="userRatings">

		  		<div class="front-sidebar your-rating-title">Your Rating:</div>
		  		<div class="front-sidebar your-rating">N/A</div>

		  		<div class="coef-imdb front-sidebar">IMDB</div>
		  		<div class="sidebar-site coef-imdb half-sidebar">
		  			<p class="website-title">Rating</p>
		  			<p class="website-rating" id="frontRatingIMDB">0.0</p>
		  		</div>
		  		<div class="sidebar-site coef-coef half-sidebar" style="border-left: none!important;">
		  			<p class="website-title">Coefficient</p>
		  			<% if user_signed_in? %>
		  				<p class="website-rating rat-imdb" rat="<%= current_user.imdb_rating %>" >
								<%= ((current_user.imdb_rating) * 100).to_i %>%
							</p>
						<% else %>
							<p class="website-rating" >
				      	<%= "N/A" %>
				      </p>
				    <% end %>
		  		</div>

				  <div class="coef-rotten front-sidebar">Rotten Tomatoes</div>
				  <div class="sidebar-site coef-rotten half-sidebar">
		  			<p class="website-title">Rating</p>
		  			<p class="website-rating" id="frontRatingRotten">0.0</p>
		  		</div>
		  		<div class="sidebar-site coef-coef half-sidebar" style="border-left: none!important;">
		  			<p class="website-title">Coefficient</p>
		  			<% if user_signed_in? %>
		  				<p class="website-rating rat-rotten" rat="<%= current_user.rotten_rating %>" >
								<%= ((current_user.rotten_rating) * 100).to_i %>%
							</p>
						<% else %>
							<p class="website-rating" >
				      	<%= "N/A" %>
				      </p>
				    <% end %>
		  		</div>

				  <div class="coef-metacritic front-sidebar ">Metacritic</div>
				  <div class="sidebar-site coef-metacritic half-sidebar">
		  			<p class="website-title">Rating</p>
		  			<p class="website-rating" id="frontRatingMetacritic">0.0</p>
		  		</div>
		  		<div class="sidebar-site coef-coef half-sidebar" style="border-left: none!important;">
		  			<p class="website-title">Coefficient</p>
		  			<% if user_signed_in? %>
		  				<p class="website-rating rat-metacritic" rat="<%= current_user.metacritic_rating %>" >
								<%= ((current_user.metacritic_rating) * 100).to_i %>%
							</p>
						<% else %>
							<p class="website-rating" >
				      	<%= "N/A" %>
				      </p>
				    <% end %>
		  		</div>

				  <div class="coef-tmdb front-sidebar">TMDB</div>
				  <div class="sidebar-site coef-tmdb half-sidebar">
		  			<p class="website-title">Rating</p>
		  			<p class="website-rating" id="frontRatingTMDB">0.0</p>
		  		</div>
		  		<div class="sidebar-site coef-coef half-sidebar" style="border-left: none!important;">
		  			<p class="website-title">Coefficient</p>
		  			<% if user_signed_in? %>
		  				<p class="website-rating rat-tmdb" rat="<%= current_user.tmdb_rating %>" >
								<%= ((current_user.tmdb_rating) * 100).to_i %>%
							</p>
						<% else %>
							<p class="website-rating" >
				      	<%= "N/A" %>
				      </p>
				    <% end %>
		  		</div>

		  	</div>
			</div>
		</div>

	  <div class="small-12 large-10 columns main">
	  	<div class="rating-suggestion">
		  	<input id="countries" name="movie" placeholder="Enter a movie" />
		  	<button class="alert hollow button erase">X</button>
		  	<br />
	  	</div>
	  	<div class="suggestion-info"></div>
	  </div> 
</div>

	<script type="text/javascript">
	var input = document.getElementById("countries");
	var aa = $('.rat-imdb').attr('rat');
	var bb = $('.rat-rotten').attr('rat');
	var cc = $('.rat-metacritic').attr('rat');
	var dd = $('.rat-tmdb').attr('rat');

	ratingFunction = function(rating) {
		if (rating >= 0) {
			return rating.toFixed(1);
		} else {
			return 'N/A';
		}
	}

	var awesomplete = new Awesomplete(input, {
	  minChars: 3,
	  autoFirst: true
	});

	$("input").on("keyup", function(){
	  $.ajax({
	    url: 'http://api.themoviedb.org/3/search/movie?query=' + this.value + '&api_key=0b56c7e05825db6e3182d1aa00d47307',
	    //url: 'http://www.omdbapi.com/?type=movie&s=' + this.value,
	    type: 'GET',
	    dataType: 'json'
	  })
	  .success(function(data) {
	    var list = [];
	    $.each(data['results'], function(key, info) {
	      var year = info[('release_date')].substring(0,4);
	      //list.push(value['title'] + ' (' + year + ')' );
	      list.push({
	      	//label: info['title'] + ' (' + year + ')', 
	      	label: '<div class="search-names"><div class="result-image"><img src="http://image.tmdb.org/t/p/w500/' + info['poster_path'] + '" /></div><div class="result-text">' + info['title'] + '<br />(' + year + ')</div></div>', 
	      	value: info['title'] + ' (' + year + ')', 
	      	extra: info['vote_average']});
	    });
	    awesomplete.list = list;
	  });
	});

	Awesomplete.$.bind(input, {
	  "awesomplete-select": function(evt) {
	    var chosenMovie = evt.text['value']
	    var ratingTMDB = evt.text['extra'];
	    var movieNameWithSpaces = chosenMovie.substr(0, chosenMovie.indexOf(' ('));
	    var movieName = movieNameWithSpaces.split(' ').join('+')
	    var movieYear = (chosenMovie.substr(chosenMovie.length - 5)).match(/\d+/)[0];
	    $.ajax('http://www.omdbapi.com/?t=' + movieName + '&y=' + movieYear + '&type=movie&tomatoes=true', {
	        complete: function(p_oXHR, p_sStatus){
	            oData = $.parseJSON(p_oXHR.responseText);
	            ratingIMDB = Number(oData.imdbRating);
	            ratingRotten = Number(oData.tomatoRating);
	            preRatingMetacritic = Number(oData.Metascore);
	            ratingMetacritic = parseFloat(preRatingMetacritic) / 10;
	            $('.suggestion-info').html('<div class="info-poster"><img src="' + oData.Poster + '">');
	            $('#frontRatingIMDB').text(ratingFunction(ratingIMDB));
	            $('#frontRatingRotten').text(ratingFunction(ratingRotten));
	            $('#frontRatingMetacritic').text(ratingFunction(ratingMetacritic));
	            $('#frontRatingTMDB').text(ratingFunction(ratingTMDB));
	            $('.your-rating').text(ratingResult(ratingIMDB, ratingRotten, ratingMetacritic, ratingTMDB, aa, bb, cc, dd));
	        }
	    });
	  }
	});
</script>