<h1>Coeficient</h1>
<% if user_signed_in? %>
  <div>Signed in as... <%= current_user.username %></div>
  <div>IMDB: <%= current_user.imdb_rating %></div>
  <div>TMDB: <%= current_user.tmdb_rating %></div>
  <div>Rotten: <%= current_user.rotten_rating %></div>
  <div>Metacritic: <%= current_user.metacritic_rating %></div>
  <div>Movies rated: <%= current_user.amount %></div>
  <br />
  <div>This guy: <%= @current_user %></div>
  <br />
<% end %>
<input id="countries" name="movie" placeholder="Enter a movie" />
<script type="text/javascript">
	var input = document.getElementById("countries");
	var awesomplete = new Awesomplete(input, {
	  minChars: 3,
	  autoFirst: true
	});

	$("input").on("keyup", function(){
	  $.ajax({
	    url: 'http://api.themoviedb.org/3/search/movie?query=' + this.value + '&api_key=0b56c7e05825db6e3182d1aa00d47307',
	    //url: 'http://www.omdbapi.com/?type=movie&s=' + this.value,
	    type: 'GET',
	    dataType: 'json'
	  })
	  .success(function(data) {
	    var list = [];
	    $.each(data['results'], function(key, info) {
	      var year = info[('release_date')].substring(0,4);
	      //list.push(value['title'] + ' (' + year + ')' );
	      list.push({label: info['title'] + ' (' + year + ')', value: info['title'] + ' (' + year + ')', extra: info['vote_average']});
	    });
	    awesomplete.list = list;
	  });
	});

	Awesomplete.$.bind(input, {
	  "awesomplete-select": function(evt) {
	    var chosenMovie = evt.text['value']
	    var ratingTMDB = evt.text['extra'];
	    var movieNameWithSpaces = chosenMovie.substr(0, chosenMovie.indexOf(' ('));
	    var movieName = movieNameWithSpaces.split(' ').join('+')
	    var movieYear = (chosenMovie.substr(chosenMovie.length - 5)).match(/\d+/)[0];
	    $.ajax('http://www.omdbapi.com/?t=' + movieName + '&y=' + movieYear + '&type=movie&tomatoes=true', {
	        complete: function(p_oXHR, p_sStatus){
	            oData = $.parseJSON(p_oXHR.responseText);
	            ratingIMDB = Number(oData.imdbRating);
	            ratingRotten = Number(oData.tomatoRating);
	            preRatingMetacritic = Number(oData.Metascore);
	            console.log(preRatingMetacritic);
	            ratingMetacritic = parseFloat(preRatingMetacritic) / 10;
	            console.log(ratingMetacritic);
	            $('#form_imdb_rating').val(ratingIMDB);
	            $('#form_rotten_rating').val(ratingRotten);
	            $('#form_tmdb_rating').val(ratingTMDB);
	            $('#form_metacritic_rating').val(ratingMetacritic);
	        }
	    });
	  }
	});
</script>

<br />
<div id="the_form">
	<%= form_for('result_path', remote: true, method: 'put', action: 'update') do |f| %>
	  <%= f.label :user_rating %><br>
	  <%= f.text_field :user_rating %>
	  <%= f.hidden_field :form_imdb_rating, id: 'form_imdb_rating' %>
	  <%= f.hidden_field :form_rotten_rating, id: 'form_rotten_rating' %>
	  <%= f.hidden_field :form_tmdb_rating, id: 'form_tmdb_rating' %>
	  <%= f.hidden_field :form_metacritic_rating, id: 'form_metacritic_rating' %>
	  <%= f.submit %>
	<% end %>
</div>

<br />
<div>
	<%= link_to reset_path, action: 'update', :method => 'get' %>
	<%= button_to "Reset", reset_path, data: { confirm: "Are you sure?" }, method: :update %>
</div>

<div id="result"></div>