<h1>Coeficient</h1>
<% if user_signed_in? %>
  <div>Signed in as... <%= current_user.username %></div>
  <div>IMDB: <%= current_user.imdb_rating %></div>
  <div>TMDB: <%= current_user.tmdb_rating %></div>
  <div>Rotten: <%= current_user.rotten_rating %></div>
  <div>Metacritic: <%= current_user.metacritic_rating %></div>
  <br />
  <div>This guy: <%= @user_imdb_rating %></div>
  <br />
<% end %>
<input id="countries" name="movie" placeholder="Enter a movie" />
<script type="text/javascript">
	var input = document.getElementById("countries");
	var awesomplete = new Awesomplete(input, {
	  minChars: 3,
	  autoFirst: true
	});

	$("input").on("keyup", function(){
	  $.ajax({
	    url: 'http://api.themoviedb.org/3/search/movie?query=' + this.value + '&api_key=0b56c7e05825db6e3182d1aa00d47307',
	    //url: 'http://www.omdbapi.com/?type=movie&s=' + this.value,
	    type: 'GET',
	    dataType: 'json'
	  })
	  .success(function(data) {
	    var list = [];
	    $.each(data['results'], function(key, value) {
	      var year = value[('release_date')].substring(0,4);
	      list.push(value['title'] + ' (' + year + ')' );
	    });
	    awesomplete.list = list;
	  });
	});

	Awesomplete.$.bind(input, {
	  "awesomplete-select": function(evt) {
	    var chosenMovie = evt.text['value']
	    var movieNameWithSpaces = chosenMovie.substr(0, chosenMovie.indexOf(' ('));
	    var movieName = movieNameWithSpaces.split(' ').join('+')
	    var movieYear = (chosenMovie.substr(chosenMovie.length - 5)).match(/\d+/)[0];
	    $.ajax('http://www.omdbapi.com/?t=' + movieName + '&y=' + movieYear + '&type=movie&tomatoes=true', {
	        complete: function(p_oXHR, p_sStatus){
	            oData = $.parseJSON(p_oXHR.responseText);
	            ratingIMDB = Number(oData.imdbRating);
	            $('#form_imdb_rating').val(ratingIMDB)
	        }
	    });
	  }
	});
</script>

<br />
<div id="the_form">
	<%= form_for('result_path', remote: true, method: 'post') do |f| %>
	  <%= f.label :user_rating %><br>
	  <%= f.text_field :user_rating %>
	  <%= f.hidden_field :form_imdb_rating, id: 'form_imdb_rating' %>
	  <%= f.submit %>
	<% end %>
</div>

<br />
<div><%= link_to "2017", result_path(this_year: 2017), :method => :post, :remote => true %></div>
<div id="result"></div>