<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script>
    $(document).foundation();
  </script>

  </head>

  <body>

	 	<nav role="navigation" data-topbar="" class="top-bar">
    	<div class="top-bar">
			  <div class="top-bar-left">
			  	<ul class="menu align-left">
			  		<li class="menu-text">MovieCoeficient</li>
					  <li><%= link_to 'Home', root_path %></li>
					  <li><%= link_to 'About', root_path %></li>
					  <li><%= link_to 'How does it work?', root_path %></li>
					  <li><%= link_to 'Coeficient', coeficient_path, style: "color:red" %></li>
					</ul>
			  </div>
			  <div class="top-bar-right">
			  	<ul class="dropdown menu" data-dropdown-menu>			      
			      <li>
			        <a href="#">
			        	<% if user_signed_in? %>
									<div><%= current_user.username %></div>
									<ul class="menu vertical">
					          <li><%= link_to 'Your account', edit_user_registration_path %></li>
					          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
					        </ul>
								<% else %>
				          <li><%= link_to 'Log In', new_user_session_path %></li>
				          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
				        <% end %>
							</a>			        
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>

    <%= yield %>

  </body>
</html>
